body {
    background-color: #101010;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: 18px;
    line-height: 1.5;
    margin: 0px auto 0px auto;
    width: 90%;
}

code, pre, kbd, samp, var {
    font-family: monospace;
}

header {
    align-items: center;
    display: flex;
    border-bottom: 2px solid #555;
    justify-content: space-between;
    margin-bottom: 2em;
    padding: 12px 0px;
}

a:link {
    color: cyan;
}

a:visited {
    color: darkslategray;
}

a:hover {
    color: yellow;
    text-decoration: underline;
}

a:active {
    color: #ff6666;
}

div#logo a {
    color: magenta;
    float: left;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
}

header nav {
    display: flex;
    flex-wrap: wrap;
}

header nav a {
    color: #e0e0e0;
    font-size: 1em;
    font-weight: bold;
    margin: 0.2em 0.4em;
    text-decoration: none;
    text-transform: uppercase;
}

#content {
    flex: 1 0 auto;
}

footer {
    border-top: solid 2px lightgray;
    color: #555;
    font-size: 0.8em;
    flex: none;
    margin-top: 2em;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    color: gold;
    font-size: 1.4em;
}

h2 {
    color: gold;
    font-size: 1.2em;
    margin-top: 2em;
}

h3 {
    color: darkkhaki;
    font-size: 1.0em;
    margin-top: 1.5em;
}

blockquote {
    border-left: 3px solid #555;
    color: #b0b0b0;
    margin: 1.5em 0;
    padding: 0.5em 1em;
    font-style: italic;
}

hr {
    border: 0;
    border-top: 1px solid #444;
    margin: 2em 0;
}

p {
    margin-bottom: 1em;
}

#posts li {
    line-height: 2em;
}

div.info {
    color: #a0a0a0;
    font-size: 0.85em;
    font-style: italic;
}

#gh-comments-list {
    border: solid 2px #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 6em auto 0;
    padding: 0.5em;
    border-radius: 8px;
}

#gh-comments-list > * {
    margin-top: 1em;
}

.gh-comment {
    border: solid 2px #555;
    padding: 1em;
    align-self: stretch;
    border-radius: 5px;
}

.gh-comment .gh-comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.gh-comment .gh-comment-header img {
    height: 2em;
    margin-right: 0.5em;
}

.gh-comment .gh-comment-body {
    margin-left: 1em;
}

@media
only screen and (max-width: 1000px) {
    /* Small size screen */
    header {
        flex-direction: column;
    }
    header nav {
        justify-content: center;
        margin-top: 1em;
    }
    pre {
        width: 90%;
    }
}

@media
only screen and (min-width: 1000px) and (max-width: 1300px) {
    /* Medium size screen */
    body {
        width: 80%;
    }
    pre {
        width: 80%;
    }
}

@media
only screen and (min-width: 1300px) {
    /* Large size screen */
    body {
        width: 70%;
    }
    pre {
        width: 80%;
    }
}

@media
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    /* High-dpi */
    body {
        font-size: 32px;
    }
}
